@model IEnumerable<AutoSmart.Application.ViewModel.ClienteViewModel>

@{
    ViewBag.Title = "Clientes";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Novo", "Criar", null, new { @class = "btn-lg btn-primary" })
<br />
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Nome</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>Não há informações para exibir.</td>
            </tr>
        }
    </tbody>
</table>